/* style for the body element */
* {
    background-color: burlywood;
}
body {
    max-width: 800px;
    margin: 0 auto;
    height: 500px;
}

/* style for the header elements */
header {
    text-align: center;
}

header > h1{
    margin-bottom: 0;
}
header > h2 {
    margin-top: 5px;
}

/* style for the main elements */
#main-header {
    text-align: center;
    margin: 50px 0;
}

#title {
    display: flex;
    justify-content: space-between;
    margin: 0 15%;
    color: darkcyan;
}

/* style for the ul that contains the category links */
#category {
    list-style-type: none;
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin: 30px 0;

}
li {
    display: inline;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
}

.links {
    text-decoration: none;
    margin: 0 20px;
    color: darkcyan;
    
}

/* style for the divs that contains the question and answer */
#main-div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;

}
#div-question{
    border: 2px solid black;
    border-radius: 10px;
    width: 300px;
    height: 300px;
    margin: 20px 0;
}

#div-answer{
    /* border: 2px solid black;
    border-radius: 10px; */
    width: 300px;
    height: 300px;
    margin: 20px 0;
}

.show-answer {
    text-decoration: none;
    align-self: center;
    padding: 5px;
    text-align: center;
    color: darkcyan;
    font-size: 1.5em;
}
#div-question p {
    text-align: center;
    margin-top: 35%;
    font-size: 2em; 
}

#div-answer > a {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 10px;
    text-decoration: none;
    color: black;
}

#div-answer > p {
    text-align: center;
    margin-top: 35%;
    font-size: 2em; 
}

/* #mdn {
    color: cadetblue;
} */

/* style for the footer element */
footer {
    text-align: center;  
    display: flex;
    flex-direction: column;
}
footer > a {  
    color: darkcyan;
    font-size: 1.5em;
    margin: 10px;
}

a:link {
    text-decoration: none;
  }
